<!DOCTYPE html>
<html lang="en">
<head>
        <title>Title</title>
        <meta charset="utf-8">
</head>
<body>
	<a href="{% url 'app:upload_min_data' %}">Upload min.data</a> <br>
	<a href="{% url 'app:upload_ts_data' %}">Upload ts.data</a> <br>
	<a href="{% url 'app:upload_colour' %}">Upload colouring of minima</a> <br>
	<a href="{% url 'app:upload_config' %}">Upload configuration</a> <br>
	<a href="{% url 'app:display' %}">Display the disconnectivity graph of the energy landscape</a><br>
</body>

</html>
